{% extends "base.html" %}


{% block title %}

    {% if object %}
        Editar produto
    {% else %}
        Novo produto
    {% endif %}

{% endblock %}


{% block content %}

    {% if object %}

        <h1>
            Editar produto
        </h1>

        <p>
            Atualize as informações do produto.
        </p>

    {% else %}

        <h1>
            Novo produto
        </h1>

        <p>
            Cadastre um novo produto.
        </p>

    {% endif %}


    <form method="post">

        {% csrf_token %}


        {{ form.non_field_errors }}


        <div>

            {{ form.nome.label_tag }}

            {{ form.nome }}

            {% for error in form.nome.errors %}
                <p>{{ error }}</p>
            {% endfor %}

        </div>


        <div>

            {{ form.sku.label_tag }}

            {{ form.sku }}

            {% for error in form.sku.errors %}
                <p>{{ error }}</p>
            {% endfor %}

        </div>


        <div>

            {{ form.descricao.label_tag }}

            {{ form.descricao }}

            {% for error in form.descricao.errors %}
                <p>{{ error }}</p>
            {% endfor %}

        </div>


        <div>

            {{ form.preco_compra.label_tag }}

            {{ form.preco_compra }}

            {% for error in form.preco_compra.errors %}
                <p>{{ error }}</p>
            {% endfor %}

        </div>


        <div>

            {{ form.preco_venda.label_tag }}

            {{ form.preco_venda }}

            {% for error in form.preco_venda.errors %}
                <p>{{ error }}</p>
            {% endfor %}

        </div>


        <div>

            {{ form.quantidade_estoque.label_tag }}

            {{ form.quantidade_estoque }}

            {% for error in form.quantidade_estoque.errors %}
                <p>{{ error }}</p>
            {% endfor %}

        </div>


        <div>

            {{ form.estoque_minimo.label_tag }}

            {{ form.estoque_minimo }}

            {% for error in form.estoque_minimo.errors %}
                <p>{{ error }}</p>
            {% endfor %}

        </div>


        <div>

            {{ form.categoria.label_tag }}

            {{ form.categoria }}

            {% for error in form.categoria.errors %}
                <p>{{ error }}</p>
            {% endfor %}

        </div>


        <div>

            {{ form.fornecedor.label_tag }}

            {{ form.fornecedor }}

            {% for error in form.fornecedor.errors %}
                <p>{{ error }}</p>
            {% endfor %}

        </div>


        <div>

            {{ form.ativo.label_tag }}

            {{ form.ativo }}

            {% for error in form.ativo.errors %}
                <p>{{ error }}</p>
            {% endfor %}

        </div>


        <div>

            <button type="submit">
                Salvar produto
            </button>

            <a href="{% url 'estoque:produto_lista' %}">
                Cancelar
            </a>

        </div>

    </form>

{% endblock %}